.item-title {
    font-size: 40px;
    font-weight: 300;
}
.item-description {
    font-size: 20px;
    font-weight: 200;
}
.reviews-section {

}
.review-box {
    margin: 1%;
}
.box-rating {
    margin-bottom: 0.5%;
}
.round-image {
    border-radius: 50%;
    height: 20px;
}